/* CSS reset minimo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #111;
    background: #fff;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
}

/* Scrivi qui sotto i tuoi stili */

/* colori della pagina: 
HEADER: #131921
PULSANTE CERCA: #FEBD69
PULSANTE CARRELLO: #232F3E
HERO SECTION: #303F51
ELETTRONICA: #232F3E
LIBRI: #C45500
ABBIGLIAMENTO: #146EB4
CASA: #067D62
SCOPRI DI PIÙ: #007185
HOVER SCOPRI DI PIÙ: #c45500
SCRITTE NELLE CARD: #EEEEEE
STELLINE (sia piene che vuote): #FF9900
AGGIUNGI AL CARRELLO: #FFD814
HOVER AGGIUNGI AL CARRELLO: #F7CA00
FOOTER: #232F3E

*/

/* Stili dell'HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}


header .amazon-barra {
    background-color: #131921;
    color: white;
    white-space: nowrap;
    padding: 5px 20px;
}

.logo,
.barra-ricerca,
.link-nav,
.carrello {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    color: #FF9900;
}

.barra-ricerca {
    width: 60%;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    margin-right: 10px;
}

.barra-ricerca input {
    width: 80%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 0px;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 4px 0 0 4px;
}

.barra-ricerca button {
    width: 20%;
    padding-top: 6px;
    padding-bottom: 9px;
    padding-left: 0px;
    margin-left: -6px;
    background-color: #FEBD69;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 0 4px 4px 0;
}

.link-nav {
    margin: 0 2px;
}

.link-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
}

.carrello {
    background-color: #303F51;
    padding: 8px 15px;
    border-radius: 4px;
}

.carrello a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Stili del MAIN */


main {
    margin-top: 60px;
}

/* Stili del MAIN HERO */

main .hero {
    background-color: #303F51;
    color: white;
    text-align: center;
    padding: 70px 20px;
    font-size: 22px;
}

main .hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

/* Stili del MAIN CATEGORIE */

.categorie {
    padding-left: 50px;
    padding-top: 40px;
    background-color: #ffffff;
}

#categorie-header h3 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
}

.card-categoria-1,
.card-categoria-2,
.card-categoria-3,
.card-categoria-4 {
    display: inline-block;
    width: 22%;
    margin-right: 20px;
    background-color: white;
    vertical-align: top;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.card-categoria-1:hover,
.card-categoria-2:hover,
.card-categoria-3:hover,
.card-categoria-4:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.elettronica-rettangolo,
.libri-rettangolo,
.abbigliamento-rettangolo,
.casa-rettangolo {
    height: 150px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.elettronica-rettangolo h2,
.libri-rettangolo h2,
.abbigliamento-rettangolo h2,
.casa-rettangolo h2 {
    color: white;
    margin: 0;
    line-height: 150px;
    font-size: 40px;
}

.elettronica-rettangolo {
    background-color: #232F3E;
}

.libri-rettangolo {
    background-color: #C45500;
}

.abbigliamento-rettangolo {
    background-color: #146EB4;
}

.casa-rettangolo {
    background-color: #067D62;
}

.elettronica-scritte,
.libri-scritte,
.abbigliamento-scritte,
.casa-scritte {
    padding: 15px;
}

.elettronica-scritte a,
.libri-scritte a,
.abbigliamento-scritte a,
.casa-scritte a {
    color: #007185;
    text-decoration: none;
    font-size: 14px;
}

.elettronica-scritte a:hover,
.libri-scritte a:hover,
.abbigliamento-scritte a:hover,
.casa-scritte a:hover {
    color: #c45500;
}

/* Stili del MAIN PRODOTTI */

.prodotti {
    padding: 40px 50px;
}

.titolo-prodotti {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

#container-prodotti {
    font-size: 0;
}

.card-prodotto {
    display: inline-block;
    vertical-align: top;
    width: 21%;           
    min-height: 480px;      
    margin-right: 4%;      
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    box-sizing: border-box;
    text-align: left;
    padding: 15px;           
}

.immagine-prodotto {
    background-color: #e0e0e0;
    width: 100%;          
    aspect-ratio: 1 / 1;    
    text-align: center;
    font-size: 40px;         
    font-weight: bold;
    color: #6b6b6b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-prodotto {
    padding: 15px 0 0 0;
}

.nome-prodotto {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;    
}

.valutazione {
    margin-bottom: 10px;
}

.stelle {
    color: #FF9900;
    font-size: 18px;
}

.voto {
    color: #007185;
    font-size: 14px;
    margin-left: 5px;
}

.prezzo {
    color: #b12704;
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
}

.btn-carrello {
    background-color:#FFD814;
    border: none;          
    border-radius: 20px;
    padding: 8px 15px;
    width: 100%;
    font-weight: bold;      
    cursor: pointer;
    transition: 0.2s;
}

.btn-carrello:hover {
    background-color: #F7CA00;
}

/* Stili del Footer */ 

footer {
    background-color: #232f3e;
    padding: 40px 50px;
    color: white;
    text-align: center;
}

.footer-container {
    max-width: 1000px;
    margin: 20px;
    text-align: left;
    font-size: 0;
}

.footer-col {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    font-size: 16px;
    box-sizing: border-box;
}

.footer-titolo {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

footer ul li a:hover {
    text-decoration: underline;
}